@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-input-icon {
  @apply absolute left-3 top-1/2 -translate-y-1/2 text-chat-secondary size-5;
}

.input {
  @apply w-full rounded-lg py-2 pl-10 pr-4 text-chat-dark placeholder-chat-accent focus:ring-2 focus:ring-chat-accent focus:border-transparent;
}

.auth-btn {
  @apply w-full text-white bg-chat-accent rounded-lg py-2.5 font-medium
 focus:ring-2;
}
.auth-link {
  @apply px-4 py-2 inline-block rounded-lg text-chat-accent transition-colors;
}